body {
  background-color: #000;
  color: #fa4;
  font-family: sans-serif;
}

audio {
  min-width: 40em;
}

#currentTime {
  background-color: #001;
  float: right;
  font-size: 1500%;
  font-family: "Roboto", "Droid Sans Mono", monospace;
}

#duration {
  clear: both;
  background-color: #001;
  float: right;
  font-size: 500%;
  font-family: "Roboto", "Droid Sans Mono", monospace;
}

#controls {
  padding: 1em;
}
#controls a {
  font-size: 200%;
  padding: 0.5em;
}

#playlist {
  width: auto;
}

.current {
  background-color: #224;
}

@keyframes pulse {
  0% {
    background-color: #430;
  }
  25% {
    background-color: inherit;
  }
  75% {
    background-color: inherit;
  }
  100% {
    background-color: #430;
  }
}
.fin {
  animation: pulse 1s infinite;
}